.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    padding: 0px;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
}


.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 13px;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.nav-link:hover {
  color: #595959;
  background-color: rgba(145, 145, 145, 0.1);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  /* transform: translateY(-1px); */
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::before {
  width: 80%;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.logo {
  font-family: 'RocketRaccoon';
  font-size: 28px;
  color: #333;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

@media screen and (max-width: 520px) {
  .navbar {
    width: calc(100% - 2.5rem);
    max-width: 420px;
    padding: 0;
  }

  .nav-container {
    padding: 0.2rem 0.5rem;
  }

  .nav-menu {
    gap: 1.25rem;
    justify-content: center;
    width: 100%;
  }

  .nav-link {
    font-size: 12px;
    padding: 0.5rem 0.6rem;
  }

  .logo {
    display: none;
  }
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
} 